sudo: require
language: cpp
#compiler: clang

addons:
  apt:
    sources:
     - ubuntu-toolchain-r-test
       #- llvm-toolchain-trusty
    packages:
     - ninja-build
       #- clang
       #
matrix:
  include:
    # Clang 6.0
    - env: COMPILER=clang++-6.0 BUILD_TYPE=Debug
      addons: &clang60
        apt:
          packages:
            - clang-6.0
            - ninja-build
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-6.0
            - sourceline: 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-6.0 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'

    # GCC 7
    - env: COMPILER=g++-7 BUILD_TYPE=Debug
      addons: *gcc7
        apt:
          packages:
            - g++-7
            - ninja-build
          sources:
            - ubuntu-toolchain-r-test

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
  - sudo pip install codecov
  - wget -O cmake.sh https://cmake.org/files/v3.11/cmake-3.11.3-Linux-x86_64.sh
  - sudo sh cmake.sh --skip-license --exclude-subdir --prefix=/usr/local
  - echo $PATH 

install:
  - export CXX=${COMPILER}
  - ${CXX} --version

script:
  - mkdir build && cd build
  - cmake -version
  - /usr/local/bin/cmake -GNinja -DCMAKE_CXX_COMPILER=${COMPILER} -DCMAKE_BUILD_TYPE=${BUILD_TYPE} -DSudokuSuite_TESTS=ON -DSudokuSuite_GCOV=ON  ..
  - ninja -v
  - cd tests
  - ./testing
  - codecov

after_success:
  - bash <(curl -s https://codecov.io/bash)

